@tailwind base;
@tailwind components;

@font-face {
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic'), url('./fonts/OpenDyslexic-Bold.otf') format('woff');
}

html {
  @apply bg-gray-100;
}

.dyslexic-font {
  font-family: 'OpenDyslexic';
}

.dyslexic-font text {
  font-family: 'OpenDyslexic';
}

.min-h {
  min-height: 100px;
}

.h-fit {
  height: fit-content;
}

.button {
  @apply bg-gray-600 px-6 py-2 rounded-md text-white font-semibold cursor-pointer flex items-center justify-center;
}

.button:not(:only-child) > svg {
  @apply mr-2;
}

.button-small {
  @apply px-2 py-1 text-sm;
}

.button-small:not(:only-child) > svg {
  @apply mr-1;
}

.button:hover {
  @apply bg-gray-700;
}

.button.button-primary {
  @apply bg-yellow-500;
}

.button.button-primary.active {
  @apply bg-yellow-700;
}

.button.button-primary:hover {
  @apply bg-yellow-600;
}

.button.button-success {
  @apply bg-green-600;
}

.button.button-success:hover,
.button.button-success.active {
  @apply bg-green-700;
}

.button.button-danger {
  @apply bg-red-600;
}

.button.button-danger:hover,
.button.button-danger.active {
  @apply bg-red-700;
}

.button:disabled {
  @apply cursor-not-allowed opacity-50;
}

.label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.input {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight;
}

.input:disabled,
.select:disabled {
  @apply opacity-50;
}

.select {
  @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}

.input:focus,
.select:focus {
  @apply outline-none bg-white border-gray-500;
}

.hide {
  @apply opacity-0 absolute hidden;
}

@tailwind utilities;
